table {
    margin: 0;  
  }
  
  .table-heading .table-cell {
    background-color: #333;
    color: #1ba94c;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px;  
    text-align: left;
    border: 1px solid rgb(221, 221, 221);
  }
  
  .table-body .table-cell {
    padding: 8px 16px;
    font-size: 14px;
    color: #000;
    border: 1px solid rgb(221, 221, 221);
    text-align: left;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f7f7f7;
  }
  
  main {
    padding: 50px;
    box-sizing: border-box;
  }